<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
    <div class="page-wrapper">
        <%- include('partials/nav.ejs') %>
        <main>
            <h1 id="not-found-header">404</h1>
            <h1 id="not-found-text">The requested page does not seem to exist...</h1>
        </main>
    </div>
</body>
</html>