<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
    <div class="page-wrapper">
        <%- include('partials/nav.ejs') %>
        <main>
          <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Add item </h2>
      
            <!-- Add item form -->
            <form action="/add-item" method="POST">
              <input type="text" id="item-name" class="fadeIn" name="name" placeholder="Item name" required>
              <input type="number" id="amount" class="fadeIn" name="amount" placeholder="Amount" required>
              <input type="number" id="price" class="fadeIn" name="price" placeholder="Price" required>
              <input type="submit" class="fadeIn" value="Add item" name="add-item">
            </form>
        </div>  
        </main>
    </div>
</body>
</html>