#not-found-header {
    margin-top: 28vh;
    margin-left: 28vw;
    font-weight: 900;
    font-size: 10vh;
    text-align: left;
}

#not-found-text {
    margin-left: 28vw;
    font-weight: 900;
    font-size: 3vh;
}