:root {
    --background-color: #56baed;
    --background-color-accent: #fff;
    --text-color: #92badd;
    --text-color-accent: #ccc;
    --text-color-focus: #0d0d0d;
    --accent-color: #5fbae9;
    --input-color: #39ace7;
    --input-color-accent: #f6f6f6;
    --box-shadow-dark: rgba(0,0,0,0.3);
    --box-shadow-light: rgba(95,186,233,0.4);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}