<head>
    <meta name="view-transition" content="same-origin" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_name.charAt(0).toUpperCase() + page_name.slice(1) %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" media="only screen and (orientation: landscape) and (min-width: 600px)" href="styles/navbar.css">
    <link rel="stylesheet" media="only screen and (orientation: portrait) and (max-width: 600px)" href="styles/navbar-mobile.css">
    <% if (page_name == "list") { %> <link rel="stylesheet" href="styles/list.css"> <%} %>
    <% if (page_name == "add-item") { %> <link rel="stylesheet" href="styles/add-item.css"> <%} %>
    <% if (page_name == "deleted") { %> <link rel="stylesheet" href="styles/deleted.css"> <%} %>
    <% if (page_name == "404") { %> <link rel="stylesheet" href="styles/404.css"> <%} %>
</head>